.vs
StoriesHelper/bin/Debug/StoriesHelper.exe
StoriesHelper/obj/Debug/StoriesHelper.exe
StoriesHelper/obj/Debug/StoriesHelper.csproj.AssemblyReference.cache
StoriesHelper/obj/Debug/StoriesHelper.csproj.CoreCompileInputs.cache
StoriesHelper/obj/Debug/StoriesHelper.csproj.GenerateResource.cache
StoriesHelper/bin/Debug/StoriesHelper.pdb
StoriesHelper/obj/Debug/StoriesHelper.pdb
StoriesHelper/obj/Debug/DesignTimeResolveAssemblyReferences.cache
